h1 {
    text-align: center;
}
body {
    background-color: rgb(253, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.horizontal-line {
    border: 1px solid black;
}

.vertical-line {
    border: 1px solid black;
}
#board {
    width: 496px;
    height: 595px;
    /* background-color: gray; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.tile {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    
    /* Text */
    font-size: 35px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
#keyboard-container {
    height: 100px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }

  .green {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.yellow {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.gray {
    background-color: #787C7E;
    color: white;
    border-color:white;
}